.App {
  text-align: center;
}

body { 
  background-color: #08182B;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to bottom right, #08182B 70%, #F4F4F4 );
}


body {
  font-family: 'Inter', sans-serif;
}

