header {
}

header button {
    color: black;
    text-decoration: none;
    background-color: #F4F4F4;
    border-radius: 20px;
    border: none;
}

header button :visited {
    text-decoration: none;
    color: black;
}