header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


header button {
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    border: solid 1px #f4f4f4;
    width: 95px;
}

header button :visited {
    text-decoration: none;
    color: white;
}