header {
}


header button {
<<<<<<< HEAD
    color: white;
    background-color: transparent;
    padding: 10px;
=======
    color: black;
    text-decoration: none;
    background-color: #F4F4F4;
>>>>>>> CompetenceEssaie
    border-radius: 20px;
    border: solid 1px #f4f4f4;
    width: 95px;
}

header button :visited {
    text-decoration: none;
    color: white;
}