header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

header button {
    color: #F4F4F4;
    text-decoration: none;
    /* background-color: #45D9FD; */
    padding: 10px;
    border-radius: 90px;
}

header button :visited {
    color: #F4F4F4;
    text-decoration: none;
}