* {
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
}



.name {
    font-size: 78px;
    height: auto;
    width: 500px;
    color: #F4F4F4;
    line-height: 150px;
}


.bar_1 {
    color: #EE2560;
    margin-bottom: 30px;
    width: 140px;
    size: 4;
}

.bar_2 {
    color: #EE2560;
    /* right: -150px; */
    width: 170px;
    margin: 20px 0 0 100px;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10vw;
    top: 25vh;
    height: auto;
    width: auto;
}


.container_hr {
    margin: 20px 0 30px 20px;
}

.emploie {
    position: relative;
    font-size: 24px;
    color: #F4F4F4;
}

.container_profil {
    position: relative;
    width: auto; 
    height: 80vh; 
    top: 10vh;
    left: 50vw;
    aspect-ratio: 13 / 16;
}

.container_profil  div {
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 90%;
    border: solid black 1px;
}

#little_circle { 
    height: 36.5%;
    width: auto;
    background-color: #45D9FD;
    left: 0;
    bottom: 48%;
    transform: translate(0, 50%);
}

#middle_circle { 
    height: 49%;
    width: auto;
    background-color: #EE2560;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
}

#big_circle { 
    background-image: url("./../../public/DSC03721.jpg");
    background-size: cover;
    background-position: 50%;
    height: 65%;
    width: auto;
    top: 10%;
    right: 0;
}



